@import 'mixins';

#card-search {
  @include border-radius(8px);
  font-size: 20px;
  border: 2px solid #bbb;
  padding: 8px;

  &:focus {
    border-color: #4ECB8A;
  }
}

.tt-query,
.tt-hint,
.tt-dropdown-menu,
.tt-suggestion {
  font-size: 20px;
}

.tt-suggestion {
  padding: 0 10px;

  &.tt-cursor {
    background-color: #4ECB8A;
    cursor: pointer;
  }
}

.tt-hint {
  padding: 8px;
}

.tt-dropdown-menu {
  @include border-radius(8px);
  @include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.2));
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border: 1px solid #bbb;
}